nav {
 display: flex;
 justify-content: center;
}

.button {
    margin: 20px;
}

.nav-wrapper {
    display: flex;
}
 .company-logo {
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2.5rem;
}

.menu-item {
    width: 33%;
}

@media screen and (max-width: 992px) {
    .company-logo {
        width: 70px;
    }
  }
