.input-field {
    display: block;
    width: 93%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .input-field::placeholder {
    color: #999999;
  }
  
  .error-line {
    position: absolute;
    margin: auto;
    color: red;
  }

  .signup-link {
    cursor: pointer;
    caret-color: transparent;
  }

  .input-wrapper {
    padding: 5px;
  }

  @media screen and (max-width: 992px) {
    .top-title {
        max-width: 317px;
    }
  }